<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<base th:href="@{/}" href="" />
<title>Test</title>
<link rel="stylesheet" th:href="@{/lib/semantic/semantic.css}" href="../static/lib/semantic/semantic.css" />
<script th:src="@{/lib/jquery-1.11.2.js}" src="../static/lib/jquery-1.11.2.js"></script>
<script th:src="@{/lib/jquery.tablesort.js}" src="../static/lib/jquery.tablesort.js"></script>
<script th:src="@{/lib/jquery.serialize-object.js}" src="../static/lib/jquery.serialize-object.js"></script>
<script th:src="@{/lib/semantic/semantic.js}" src="../static/lib/semantic/semantic.js"></script>
</head>
<body>
	<h1 class="ui header">Index page</h1>
	<a th:href="@{/page/test}" href="test.html">Test Page</a>
	<a th:href="@{/page/test?name=测试}">测试</a>
	<a th:href="@{page/test?name=测试}">测试</a>
	<a th:href="@{~/page/test?name=测试}">测试</a>
	<a th:href="@{//code.jquery.com/jquery-2.0.3.min.js}">测试</a>
	<p>Age: <span th:text="${age}?: '(no age specified)'">27</span></p>
	<p>Age: <span th:unless="${person == null}" th:text="${persion.age}?: '(no age specified)'">27</span></p>
	<div><hr/><h3>application</h3><pre th:text="${@debug.toJson(application)}"></pre></div>
	<div><hr/><h3>session</h3><pre th:text="${@debug.toJson(session)}"></pre></div>
	<div><hr/><h3>param</h3><pre th:text="${@debug.toJson(param)}"></pre></div>
	<div><hr/><h3>#httpSession</h3><pre th:text="${@debug.toJson(#httpSession)}"></pre></div>
	<div><hr/><h3>#httpServletRequest</h3><pre th:text="${@debug.toJson(#httpServletRequest)}"></pre></div>
</body>
</html>