<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<base th:href="@{/}" href="" />
<title>Test</title>
<link rel="stylesheet" th:href="@{/lib/semantic/semantic.css}" href="../static/lib/semantic/semantic.css" />
<link rel="stylesheet" th:href="@{/css/test.css}" href="../static/css/test.css" />
<script th:src="@{/lib/jquery-1.11.2.js}" src="../static/lib/jquery-1.11.2.js"></script>
<script th:src="@{/lib/semantic/semantic.js}" src="../static/lib/semantic/semantic.js"></script>
<script th:src="@{/js/test.js}" src="../static/js/test.js"></script>
</head>
<body>

	<div class="ui segment">
		<div class="ui toggle checkbox ts-flg">
			<input type="checkbox" name="flg" /> <label>Flag</label>
		</div>
		<button class="ui button ts-search">Search</button>
		<button class="ui button ts-clear-log">Clear Log</button>
	</div>

	<div class="ui divider"></div>

	<div class="ui styled fluid accordion">
		<div class="title">
			<i class="dropdown icon"></i> Context Information
		</div>
		<div class="content">
			<p th:text="${#ctx}" />
			<p th:text="${#locale}" />
			<p th:text="${#httpServletRequest.contextPath}" />
			<p th:text="${#httpSession}" />
			<p th:text="${@jsonParser.parse(#ctx)}" />
			<p th:text="${T(org.xiwc.semantic.util.JsonUtil).toJson(#locale)}" />
		</div>
		<div class="active title">
			<i class="dropdown icon"></i> Console Log Message
		</div>
		<div class="active content">
			<div class="ui message ts-message">
				<ul class="list">
				</ul>
			</div>
		</div>
	</div>

	<div class="ui divider"></div>


</body>
</html>